@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

html, body{
    background-color: black;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

#background {
    width: 100%;
    height: 180%;

    background: rgb(22,36,50); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(22,36,50,1) 27%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(27%,rgba(22,36,50,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(22,36,50,1) 27%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(22,36,50,1) 27%,rgba(0,0,0,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(22,36,50,1) 27%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: radial-gradient(center, ellipse cover, rgba(22,36,50,1) 27%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#162432', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#stars {
	position: absolute;
	width: 2560px;
	height: 1920px;
	background-image: url('../img/stars.png');
	background-repeat: repeat;
	z-index: 11;
	bottom: 0;
	left: 50%;
	margin-left: -1280px;
}

#twinkle {
	position: absolute;
	width: 1600px;
	height: 1200px;
	z-index: 11;
	bottom: 0;
	left: 50%;
	margin-left: -800px;
}

.little-star {
	position: absolute;
	width: 3px;
	height: 3px;
}

#earth-glow {
	position: absolute;
	width: 2256px;
	height: 212px;
	background-image: url('../img/glow.png');
	background-repeat: no-repeat;
	z-index: 12;
	bottom: 0;
	left: 50%;
	margin-left: -765px;
}

#sun {
	position: absolute;
	width: 124px;
	height: 122px;
	background-image: url('../img/sun.png');
	background-repeat: no-repeat;
	z-index: 13;
	bottom: 50px;
	left: 50%;
	margin-left: -25px;
}

#cloud-left {
	position: absolute;
	width: 652px;
	height: 26px;
	background-image: url('../img/clouds-left.png');
	background-repeat: no-repeat;
	z-index: 14;
	bottom: 115px;
	left: 50%;
	margin-left: -1000px;
}

#cloud-right {
	position: absolute;
	width: 556px;
	height: 25px;
	background-image: url('../img/clouds-right.png');
	background-repeat: no-repeat;
	z-index: 15;
	bottom: 115px;
	left: 50%;
	margin-left: 450px;
}

#city-left {
	position: absolute;
	width: 336px;
	height: 108px;
	background-image: url('../img/city-left.png');
	background-repeat: no-repeat;
	z-index: 16;
	bottom: 0;
	left: 50%;
	margin-left: -540px;
}

#city-right {
	position: absolute;
	width: 153px;
	height: 84px;
	background-image: url('../img/city-right.png');
	background-repeat: no-repeat;
	z-index: 17;
	bottom: 0;
	left: 50%;
	margin-left: 1110px;
}

#earth {
	position: absolute;
	width: 2256px;
	height: 212px;
	background-image: url('../img/earth.png');
	background-repeat: no-repeat;
	z-index: 18;
	bottom: 0;
	left: 50%;
	margin-left: -765px;
}

#shuttle {
	position: absolute;
	width: 272px;
	height: 78px;
	background-image: url('../img/shuttle.png');
	background-repeat: no-repeat;
	z-index: 19;
	bottom: 280px;
	left: 50%;
	margin-left: -1200px;
}

#satellite {
	position: absolute;
	width: 36px;
	height: 26px;
	background-image: url('../img/satellite.png');
	background-repeat: no-repeat;
	z-index: 20;
	bottom: 600px;
	left: 50%;
	margin-left: 580px;
}

#asteroids {
	position: absolute;
	width: 1822px;
	height: 160px;
	background-image: url('../img/asteroids.png');
	background-repeat: no-repeat;
	z-index: 21;
	bottom: 650px;
	left: 50%;
	margin-left: -911px;
}

#asteroids.animated {
    width: 2000px;
    height: 500px;
    bottom: 50%;
    background-image: none;
    margin-left: -1000px;
}

#asteroids div {
    position: absolute;
}

.asteroid1 {
    background-image: url('../img/asteroids/asteroid01.png');
    width: 40px;
    height: 47px;
}

.asteroid2 {
    background-image: url('../img/asteroids/asteroid02.png');
    width: 18px;
    height: 17px;
}

.asteroid3 {
    background-image: url('../img/asteroids/asteroid03.png');
    width: 24px;
    height: 28px;
}

.asteroid4 {
    background-image: url('../img/asteroids/asteroid04.png');
    width: 66px;
    height:23px;
}

.asteroid5 {
    background-image: url('../img/asteroids/asteroid05.png');
    width: 25px;
    height: 18px;
}

.asteroid6 {
    background-image: url('../img/asteroids/asteroid06.png');
    width: 24px;
    height: 20px;
}

.asteroid7 {
    background-image: url('../img/asteroids/asteroid07.png');
    width: 24px;
    height: 20px;
}

.asteroid8 {
    background-image: url('../img/asteroids/asteroid08.png');
    width: 30px;
    height: 27px;
}

.asteroid9 {
    background-image: url('../img/asteroids/asteroid09.png');
    width: 42px;
    height: 33px;
}

.asteroid10 {
    background-image: url('../img/asteroids/asteroid10.png');
    width: 13px;
    height: 11px;
}

.asteroid11 {
    background-image: url('../img/asteroids/asteroid11.png');
    width: 12px;
    height: 11px;
}

.asteroid12 {
    background-image: url('../img/asteroids/asteroid12.png');
    width: 33px;
    height: 12px;
}

#spaceman {
	position: absolute;
	width: 22px;
	height: 25px;
	z-index: 70;
	bottom: 50px;
	left: 50%;
	margin-left: 983px;
}

#grid {
	position: absolute;
	width: 508px;
	height: 507px;
	background-image: url('../img/grid.png');
	background-repeat: no-repeat;
	z-index: 31;
}

#helmet {
	position: absolute;
	width: 326px;
	height: 404px;
	background-image: url('../img/helmet.png');
	background-repeat: no-repeat;
	z-index: 32;
	top: 3px;
	left: 50%;
	margin-left: -180px;
}

#content {
	position: absolute;
	width: 508px;
	height: 507px;
	z-index: 33;
	top: 50%;
	left: 50%;
	margin-top: -254px;
	margin-left: -254px;
	-webkit-transform: translate3d(0, 0, 0);
}

#divider {
	position: absolute;
	width: 508px;
	height: 7px;
	background-image: url('../img/divider.png');
	background-repeat: no-repeat;
	z-index: 40;
	top: 40%;
	margin-top: -3px;
}

#content-top {
	position: absolute;
	width: 508px;
	height: 214px;
	z-index: 36;
	top: 0;
	left: 0;
}

#bravest-man-title {
	position: absolute;
	width: 388px;
	height: 19px;
	background-image: url('../img/bravest-man-title.png');
	background-repeat: no-repeat;
	z-index: 37;
	bottom: 25px;
	left: 50%;
	margin-left: -194px;
}
#content-bottom {
	position: absolute;
	width: 508px;
	height: 150px;
	z-index: 36;
	top: 40%;
	left: 0;
}

#bravest-man-subheader {
	position: absolute;
	width: 400px;
	height: 52px;
	background-image: url('../img/bravest-man-subheader.png');
	background-repeat: no-repeat;
	z-index: 37;
	top: 15px;
	left: 50%;
	margin-left: -200px;
  text-align: center;
  color: #fbb040;
  padding-top: 50px;
  font-family: "Open Sans";
  font-style: italic;
  font-size: 14px;
	-webkit-font-smoothing:subpixel-antialiased;
}

#logos {
    background-image: url('../img/mobile-chrome-logo.png');
    width: 158px;
    height: 38px;
    left: 20px;
    bottom: 20px;
    position: absolute;
		z-index: 50;
}

#falling-star {
    position: absolute;
    top: 25%;
    left: 10%;
    background-image: url('../img/falling-star.png');
    width: 112px;
    height: 87px;
    opacity: 0;
    -webkit-animation:
    	falling-star-opacity 12s 3s infinite,
    	falling-star-transform 12s 3s linear infinite;
    -moz-animation:
    	falling-star-opacity 12s 3s infinite,
    	falling-star-transform 12s 3s linear infinite;
}

#buttons a {
	display: block;
	width: 125px;
	height: 126px;
	position: absolute;
	color: white;
	text-decoration: none;
	bottom: 1px;
	font-family: "Open Sans";
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	z-index: 40;
	-webkit-transition: background-color 0.05s linear;
	-moz-transition: background-color 0.05s linear;
	letter-spacing: 3px;
}

#buttons a:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

#buttons a.view-demo {
	left: 1px;
	height: 22px;
	padding-top: 104px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	background-image: url('../img/arrow.png');
	background-repeat: no-repeat;
	background-position: 50% 55%;
}

#buttons a.google-play {
	right: 127px;
	height: 80px;
	padding-top: 46px;
}

#buttons a.itunes {
	right: 1px;
	height: 80px;
	padding-top: 46px;
}

#demo {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 45;
	opacity: 0;
	-webkit-transition: opacity 0.1s linear;
	-moz-transition: opacity 0.1s linear;
	display: none;
}

#demo.active {
	opacity: 1;
	display: block;
}

#demo #video-container {
	width: 843px;
	height: 505px;
	background-color: black;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -252px;
	margin-left: -421px;
}

#demo #video-close-button {
	position: absolute;
	width: 20px;
	height: 20px;
	background-image: url('../img/close-button.png');
	opacity: 0.25;
	left: 50%;
	bottom: 50%;
	margin-left: 421px;
	margin-bottom: 252px;
}

#demo #video-close-button:hover {
	opacity: 0.75;
}
@-webkit-keyframes falling-star-opacity {
	0% {
		opacity: 0.0;
		-webkit-animation-timing-function: ease-out;
	}
	3% {
	    opacity: 1.0;
		-webkit-animation-timing-function: ease-in;
	}
	6% { opacity: 0.0; }
}

@-webkit-keyframes falling-star-transform {
	0% {
	    -webkit-transform: translateX(280px) translateY(0px) scaleX(1.0) scaleY(1.0);
		-webkit-animation-timing-function: linear;
	}
	6% {
	    -webkit-transform: translateX(0px) translateY(200px) scaleX(0.5) scaleY(0.5);
	}
}

@-moz-keyframes falling-star-opacity {
	0% {
		opacity: 0.0;
		-moz-animation-timing-function: ease-out;
	}
	3% {
	    opacity: 1.0;
		-moz-animation-timing-function: ease-in;
	}
	6% { opacity: 0.0; }
}

@-moz-keyframes falling-star-transform {
	0% {
	    -moz-transform: translateX(280px) translateY(0px) scaleX(1.0) scaleY(1.0);
		-moz-animation-timing-function: linear;
	}
	6% {
	    -moz-transform: translateX(0px) translateY(200px) scaleX(0.5) scaleY(0.5);
	}
}

::-moz-selection {
	background: transparent;
}

::-webkit-selection {
	background: transparent;
}

::selection {
	background: transparent;
}

#sharing {
	position: absolute;
	z-index: 60;
	bottom: 10px;
	right: 0;
}

#disclaimer {
	position: absolute;
	width: 100%;
	bottom: 8px;
	left: 0px;
	color: white;
	font-family: "Open Sans";
	font-size: 10px;
	z-index: 45;
	text-align: center;
}

.little-star {  
	-moz-animation-duration: 2s;  
	-moz-animation-name: twinkle; 
	-moz-animation-iteration-count: infinite;
	
	-webkit-animation-duration: 2s;  
	-webkit-animation-name: twinkle;  
	-webkit-animation-iteration-count: infinite; 
}
  
@-moz-keyframes twinkle {  
	0% {  
	  opacity: 1;
	}  
	
	50% {  
	  opacity: 0;
	}
	
	100% {  
	  opacity: 1;
	}
}

@-webkit-keyframes twinkle {  
	0% {  
	  opacity: 1;
	}  
	
	50% {  
	  opacity: 0;
	}
	
	100% {  
	  opacity: 1;
	} 
}

