html, body{
  background-color: black;
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  overflow: hidden;
}

#background {
  width: 200vw;
  height: 200vh;


  background: rgb(22,36,50); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(22,36,50,1) 27%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(27%,rgba(22,36,50,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(22,36,50,1) 27%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(22,36,50,1) 27%,rgba(0,0,0,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(22,36,50,1) 27%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: radial-gradient(center, ellipse cover, rgba(22,36,50,1) 27%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#162432', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  background-position: -50vw 0;
}

#stars {
  position: absolute;
  width: 2560px;
  height: 1920px;
  background-image: url('../img/stars.png');
  background-repeat: repeat;
  z-index: 11;
  bottom: 0;
  left: 50%;
  margin-left: -1280px;
}

#twinkle {
  position: absolute;
  width: 1600px;
  height: 1200px;
  z-index: 11;
  bottom: 0;
  left: 50%;
  margin-left: -800px;
}

.little-star {
  position: absolute;
  width: 3px;
  height: 3px;
}

#earth-glow {
  position: absolute;
  width: 2256px;
  height: 212px;
  background-image: url('../img/glow.png');
  background-repeat: no-repeat;
  z-index: 12;
  bottom: 0;
  left: 50%;
  margin-left: -765px;
}

#sun {
  position: absolute;
  width: 124px;
  height: 122px;
  background-image: url('../img/sun.png');
  background-repeat: no-repeat;
  z-index: 13;
  bottom: 50px;
  left: 50%;
  margin-left: -25px;
}

#cloud-left {
  position: absolute;
  width: 652px;
  height: 26px;
  background-image: url('../img/clouds-left.png');
  background-repeat: no-repeat;
  z-index: 14;
  bottom: 115px;
  left: 50%;
  margin-left: -1000px;
}

#cloud-right {
  position: absolute;
  width: 556px;
  height: 25px;
  background-image: url('../img/clouds-right.png');
  background-repeat: no-repeat;
  z-index: 15;
  bottom: 115px;
  left: 50%;
  margin-left: 450px;
}

#city-left {
  position: absolute;
  width: 336px;
  height: 108px;
  background-image: url('../img/city-left.png');
  background-repeat: no-repeat;
  z-index: 16;
  bottom: 0;
  left: 50%;
  margin-left: -540px;
}

#city-right {
  position: absolute;
  width: 153px;
  height: 84px;
  background-image: url('../img/city-right.png');
  background-repeat: no-repeat;
  z-index: 17;
  bottom: 0;
  left: 50%;
  margin-left: 1110px;
}

#earth {
  position: absolute;
  width: 2256px;
  height: 212px;
  background-image: url('../img/earth.png');
  background-repeat: no-repeat;
  z-index: 18;
  bottom: 0;
  left: 50%;
  margin-left: -765px;
}

#shuttle {
  position: absolute;
  width: 272px;
  height: 78px;
  background-image: url('../img/shuttle.png');
  background-repeat: no-repeat;
  z-index: 19;
  bottom: 280px;
  left: 50%;
  margin-left: -1200px;
}

#satellite {
  position: absolute;
  width: 36px;
  height: 26px;
  background-image: url('../img/satellite.png');
  background-repeat: no-repeat;
  z-index: 20;
  bottom: 600px;
  left: 50%;
  margin-left: 580px;
}

#asteroids {
  position: absolute;
  width: 1822px;
  height: 160px;
  background-image: url('../img/asteroids.png');
  background-repeat: no-repeat;
  z-index: 21;
  bottom: 650px;
  left: 50%;
  margin-left: -911px;
}

#asteroids.animated {
  width: 2000px;
  height: 500px;
  bottom: 50%;
  background-image: none;
  margin-left: -1000px;
}

#asteroids div {
  position: absolute;
}

.asteroid1 {
  background-image: url('../img/asteroids/asteroid01.png');
  width: 40px;
  height: 47px;
}

.asteroid2 {
  background-image: url('../img/asteroids/asteroid02.png');
  width: 18px;
  height: 17px;
}

.asteroid3 {
  background-image: url('../img/asteroids/asteroid03.png');
  width: 24px;
  height: 28px;
}

.asteroid4 {
  background-image: url('../img/asteroids/asteroid04.png');
  width: 66px;
  height:23px;
}

.asteroid5 {
  background-image: url('../img/asteroids/asteroid05.png');
  width: 25px;
  height: 18px;
}

.asteroid6 {
  background-image: url('../img/asteroids/asteroid06.png');
  width: 24px;
  height: 20px;
}

.asteroid7 {
  background-image: url('../img/asteroids/asteroid07.png');
  width: 24px;
  height: 20px;
}

.asteroid8 {
  background-image: url('../img/asteroids/asteroid08.png');
  width: 30px;
  height: 27px;
}

.asteroid9 {
  background-image: url('../img/asteroids/asteroid09.png');
  width: 42px;
  height: 33px;
}

.asteroid10 {
  background-image: url('../img/asteroids/asteroid10.png');
  width: 13px;
  height: 11px;
}

.asteroid11 {
  background-image: url('../img/asteroids/asteroid11.png');
  width: 12px;
  height: 11px;
}

.asteroid12 {
  background-image: url('../img/asteroids/asteroid12.png');
  width: 33px;
  height: 12px;
}

#spaceman {
  position: absolute;
  width: 22px;
  height: 25px;
  z-index: 70;
  bottom: 50px;
  left: 50%;
  margin-left: 983px;
}

#falling-star {
  position: absolute;
  top: 25%;
  left: 10%;
  background-image: url('../img/falling-star.png');
  width: 112px;
  height: 87px;
  opacity: 0;
  -webkit-animation:
    falling-star-opacity 12s 3s infinite,
    falling-star-transform 12s 3s linear infinite;
  -moz-animation:
    falling-star-opacity 12s 3s infinite,
    falling-star-transform 12s 3s linear infinite;
}

@-webkit-keyframes falling-star-opacity {
  0% {
    opacity: 0.0;
    -webkit-animation-timing-function: ease-out;
  }
  3% {
    opacity: 1.0;
    -webkit-animation-timing-function: ease-in;
  }
  6% { opacity: 0.0; }
}

@-webkit-keyframes falling-star-transform {
  0% {
    -webkit-transform: translateX(280px) translateY(0px) scaleX(1.0) scaleY(1.0);
    -webkit-animation-timing-function: linear;
  }
  6% {
    -webkit-transform: translateX(0px) translateY(200px) scaleX(0.5) scaleY(0.5);
  }
}

@-moz-keyframes falling-star-opacity {
  0% {
    opacity: 0.0;
    -moz-animation-timing-function: ease-out;
  }
  3% {
    opacity: 1.0;
    -moz-animation-timing-function: ease-in;
  }
  6% { opacity: 0.0; }
}

@-moz-keyframes falling-star-transform {
  0% {
    -moz-transform: translateX(280px) translateY(0px) scaleX(1.0) scaleY(1.0);
    -moz-animation-timing-function: linear;
  }
  6% {
    -moz-transform: translateX(0px) translateY(200px) scaleX(0.5) scaleY(0.5);
  }
}

::-moz-selection {
  background: transparent;
}

::-webkit-selection {
  background: transparent;
}

::selection {
  background: transparent;
}

.little-star {
  -moz-animation-duration: 2s;
  -moz-animation-name: twinkle;
  -moz-animation-iteration-count: infinite;

  -webkit-animation-duration: 2s;
  -webkit-animation-name: twinkle;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes twinkle {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes twinkle {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
